.container{
    /* background-color: deeppink; */
    display: flex;
    min-height: 100vh;
}
.sidebar{
    background-color: #244855;
    width: 200px;
}
.content{
    background-color: white;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}
.menu-items{
    background-color:  white;
    margin: 20px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.active-menu{
    background-color: ;
    
}

.menu-text{
    margin-left: 5px;

}
 


        /* small Device */
        @media screen and (max-width: 600px){
            .sidebar{
                display: none;
            }
        }
        /* Normal Device */
        @media screen and (min-width: 601px) and (max-width: 768px)
        {
            .sidebar{
                display: none;
            }
        }
        /* Tablets Device */
        @media screen and (min-width: 769px) and (max-width: 992px)
        {
        }
        /* Large Device */
        @media screen and (min-width: 993px) and (max-width: 1200px)
        {
        }